@page "/rounds/{id}"
@using TimeCalc.Components.Rounds
@inject ILocalStorage Store
@inject ISolveCalculator Calculator

<h4 class="page-header"><NavLink href="rounds" title="Back to rounds" class="text-reset"><span class="oi oi-chevron-left"></span></NavLink> @GetPageHeader()</h4>

@if(puzzleRound != null)
{
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Solve</th>
                <th scope="col">DNF</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var solve in puzzleRound.Solves)
        {
            <tr class="@GetInclusionClass(solve.Number)">
                <td class="align-middle">@solve.Number</td>
                <td><input class="form-control" type="text" value="@solve.Result" @oninput="@(e => SolveInput(e, solve.Number))"></td>
                <td class="align-middle"><input type="checkbox" value="@solve.IsDNF"></td>
            </tr>
        }
        </tbody>
    </table>
    <hr />
    <h5>Averages</h5>
    <div class="form-group">
        <div>
            <strong>Current:</strong><span class="p-1 @(GetCurrentAvgClass())">@calculations.CurrentAverage</span>
            <strong>For PB:</strong><span class="p-1">@calculations.NeededForNewPB</span>
        </div>
    </div>
    <h5>PBs</h5>
    <div class="form-group">
        <div>
            @if(currentPb != null)
            {
                <strong>Single:</strong><span class="p-1">@currentPb.Single</span>
                <strong>Average:</strong><span class="p-1">@currentPb.Average</span>
            }
            else
            {
                <div>No personal bests for @puzzleRound.Puzzle</div>
            }
        </div>
    </div>
}

<span></span>

@code {
    [Parameter]
    public string Id { get; set; }
    private PuzzleRound puzzleRound;
    private SolveCalculations calculations;
    private PersonalBest currentPb;
    private string currentPbAverage;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        puzzleRound = await Store.GetPuzzleRoundAsync(Id);
        currentPb = await GetCurrentPbForPuzzle(puzzleRound.Puzzle);
        currentPbAverage = currentPb == null ? "" : currentPb.Average;
        calculations = Calculator.GetCalculations(puzzleRound.Solves, currentPbAverage);

        Console.WriteLine($"Needed: {calculations.NeededForNewPB}");
    }

    private async Task SolveInput(ChangeEventArgs e, int number)
    {
        await Store.UpdateSolve(puzzleRound.Id, number, e.Value.ToString());
        await RefreshData();
    }

    private async Task<PersonalBest> GetCurrentPbForPuzzle(string puzzle)
    {
        var pbs = await Store.GetPersonalBestsAsync();
        if(pbs == null)
        {
            return null;
        }
        return pbs.FirstOrDefault(pb => pb.Puzzle == puzzleRound.Puzzle);
    }

    private string GetPageHeader()
    {
        if(puzzleRound == null)
        {
            return "";
        }
        return $"{puzzleRound.Puzzle} - {puzzleRound.Name}";
    }

    private string GetInclusionClass(int number)
    {
        return calculations.IncludedSolves.Contains(number) ? "table-secondary" : "";
    }

    private string GetCurrentAvgClass()
    {
        var css = "";
        var currAvg = 0f;
        var currPb = 0f;

        if(float.TryParse(calculations.CurrentAverage, out currAvg)
            && float.TryParse(currentPbAverage, out currPb)
            && currAvg < currPb)
        {
            css = "text-light bg-success";
        }

        return css;
    }
}